<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="graph">
      <%= line_chart Routine.all.map { |routine| {routine: routine, data: routine.streak.group_by_day(:created_at).count}} %>
    </div>
  </body>
</html>
