<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>In Progress Habits:</title>
  </head>
  <body>
      <h1>In-Progress Habits:</h1>
      <p>* It takes about 21 days = 3 weeks for a habit to stick! *</p>
      <p>* It takes 66 days/about 2 months for habit to become a behavior *</p>
    <% current_user.routines.each do |routine| %>
    <h2><%= link_to "#{routine.name.capitalize}", routine_path(routine) %></h2><br>
    <% end %>
    <br>
    <div class="col-xs-4">
      <%= render 'graph' %>
  </div>
</div>
  </body>
</html>
