<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>In Progress Habits:</title>
  </head>
  <body>
    <h1>In-Progress Habits:</h1>
    <p>* It takes about 21 days = 3 weeks for a habit to stick! *</p>
    <p>* It takes 66 days/about 2 months for habit to become a behavior *</p>
    <ul>
      <% current_user.routines.each do |routine| %>
      <li><%= link_to "#{routine.name.capitalize}", routine_path(routine) %></li><br>
    </ul>
    <% end %>
  </body>
</html>
