<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>In Progress Habits:</title>
  </head>
  <body>
    <h1>In-Progress Habits:</h1>
    <p>* It takes about 21 days = 3 weeks for a habit to stick! *</p>
    <p>* It takes 66 days/about 2 months for habit to become a behavior *</p>
    <ul>
      <% current_user.habits.each do |habit| %>
      <li><%= link_to "#{habit.routine.capitalize}", routine_path(@routines) %></li><br>
    </ul>
    <% end %>
  </body>
</html>
