<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Routines</title>
  </head>
  <body>
    <% Habit.all.each do |habit| %>
    <h1><%= habit.routine.capitalize %>:</h1>
    <% end %>
    </body>
</html>
