<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Routines</title>
  </head>
  <body>
    <h1>Today's Progress:</h1>
    <h3><%= @routine.name.capitalize %>:</h3>
    <%= form_tag("/notes") do %>
    Completed: <input id="completed" type="checkbox" name="completed" value=""></input><br>
    Notes: <textarea id="notes" type="text" name="notes" value="notes"></textarea><br>
    <input type="submit" value="Submit">
    <% end %>
    <h3>Progress Notes:</h3>
    <ul>
      <% @routine.notes.each do |note| %>
          <p><%= localize(note.created_at, :format => :long) %>: <%= note.comment %></p>
        <% end %>
        <form action="/songs" method="post">
    </body>
</html>
