  <div id="graph" align="center">
    <%= line_chart current_user.routines.map { |routine| {name: routine.name.capitalize, data: routine.notes.group_by_day(:created_at).count} }, title: "All Routines - Progress", xtitle: "Days Logged", ytitle: "Streak", min: 0, max: 1, width: "900px", height: "550px" %>
    </div>
