<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Profile</title>
  </head>
  <body>
    <h1><%= @user.username %>'s Profile</h1>
    <ul>
      <% @user.each do |habits| %>
      <li><%= habit.rountines %></li>
    </ul>
    <% end %>
  </body>
</html>
