<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Profile</title>
  </head>
  <body>
    <h1><%= @user.username.capitalize %>'s Profile</h1>
    <ul>
      <h3>Habits:</h3>
      <h4>In Progress:</h4>
      <% @user.habits.each do |habit| %>
      <li><%= link_to "#{habit.routine}", routines_path(@routine) %></li>
    </ul>
    <% end %>
    <h4>Completed: </h4>
    <%= link_to "Create a New Habit", routines_path(@routine) %><br>
    <%= link_to "Logout", logout_path %>
  </body>
</html>
