/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bourbon";

body {
  animation: move 10s ease infinite;
  transform: translate3d(0, 0, 0);
  background: -webkit-linear-gradient(110deg, rgba(235, 207, 146, 0.58), #a0cecf 80%);
  background: linear-gradient(-20deg, rgba(190, 142, 82, 0.45) 20%, #a0cecf 80%);
  /*background: linear-gradient(45deg, rgba(73, 212, 157, 0.35) 10%, #d9f3ff 90%);*/
  /*background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);*/
}
