// Place all the styles related to the Routines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Mixin for keyframes

//Checkbox

@import "bourbon";

$baseFontSize: 20;

$primaryColor: #16a085;
$secondaryColor: #f2f2f2;

@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}

.routine-body {
  font-size: #{$baseFontSize}px;
}

.header,
.content {
  width: 20rem;
  padding: 1rem;
  margin: 0 auto;
}


.list {
  padding: .5rem 1rem;
  margin: .5rem .5rem 2rem .5rem;
}

.list__item {
  margin: 0 0 .5rem 0;
  padding: 0;
}

.label--checkbox {
  position: relative;

  margin: .5rem;


  line-height: 135%;

  cursor: pointer;
}

.checkbox {
  position: relative;
  top: rem(-6);

  margin: 0 1rem 0 0 ;

  cursor: pointer;

  &:before {
		@include transition(transform .4s cubic-bezier(.45,1.8,.5,.75));
     @include transform(rotate(-45deg) scale(0, 0));

		content: "";

		position: absolute;
		left: rem(4);
     top: rem(6);
		z-index: 1;

		width: rem(14);
		height: rem(8);

		border: 2px solid $primaryColor;
     border-top-style: none;
  	 border-right-style: none;
  }

  &:checked {
    &:before {
       @include transform(rotate(-45deg) scale(1, 1));
      }
  }

  &:after {
    content: "";

    position: absolute;
    top: rem(-2);
    left: 0;

    width: 1.5rem;
    height: 1.5rem;

    background: #fff;

    border: 2px solid $secondaryColor;

    cursor: pointer;
  }
}

// Notes list
.todo {
    position: relative;
    width: 260px;
    margin: 0 auto;
    padding: 12px 0;
    background: #fff;
    border: 1px solid;
    border-color: #dfdcdc #d9d6d6 #ccc;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.lt-ie9 .todo:before, .lt-ie9 .todo:after {
    height: 1px;
    border-top: 0;
}

.todo-list { border-top: 1px solid #e6ebed }

.todo-list:before {
    content: '';
    width: 3px;
    z-index: 2;
    border: 1px solid #E84216;
    border-width: 0 1px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 35px;
}

.todo-list li {
    position: relative;
    padding: 7px 15px 7px 50px;
    line-height: 21px;
    font-size: 12px;
    color: #8b8f97;
    border-bottom: 1px solid #e6ebed;
}
