<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Stick It!</title>
  </head>
  <body>
    <h1>Welcome to Stick It!</h1>
    <!-- <div class="content">
      <div class="content__container">
        <p class="content__container__text">
          Hello
        </p>

        <ul class="content__container__list">
          <li class="content__container__list__item">world !</li>
          <li class="content__container__list__item">bob !</li>
          <li class="content__container__list__item">users !</li>
          <li class="content__container__list__item">everybody !</li>
        </ul>
      </div>
    </div> -->
    <p>Stick It is a habit tracker. It allows you to track the progress of a habit that you want to form. A habit takes about 21 days/3 weeks to stick. Stick It sends you a daily reminder (like a sticky note) to complete your routine to eventually work up to forming your new habit. Remember consistency is key!</p><br>
    <%= link_to "Sign In", signin_path %><br>
    <%= link_to "Create a New Profile", signup_path %>
  </body>
</html>
