<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Habits Form</title>
  </head>
  <body>
    <%= form_for @habit do |f| %>
      <%= f.label :habit %>:<br>
      <%= f.text_area :routine %><br>
      <%= f.submit "Submit" %>
    <% end %>
  </body>
</html>
