<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= form_for @habit do |f| %>
      <%= f.label :routine %>
      <%= f.text_field :rountine %>
      <%= f.submit %>
    <% end %>
  </body>
</html>
